

.myAdmin {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    text-decoration: none;
}

h2{
text-align: center;
}

.add {
    text-align: center;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.add form{
    width: 200px;
}

.add svg{
    margin-left: 10px;
}

th {
    border: 1px solid;
}


td {
    border: 1px solid;
    height: 40px;
}

.myTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 900px;
    margin: auto;
}

table {
    
}

.myButtons{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.maj{
    background-color: bisque;
    background-color: green;
   color: white; 
    width: 100px;
    text-align: center;
    border-radius: 10px;
}


.delete {
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
   
    
}