.mainRegister h2 {
    text-align: center;
    color: white;
    font-size: xx-large;
    
}

.mainRegister{
    height: 100vh;
    background-image: url(../media/bg.jpg);
    background-position:left;
    
}

.register{
    display: flex;
    flex-direction:column;
    justify-content: center;
}


.myRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 430px;
    width: 600px;
    border-radius: 20px;
    align-self: center;
    color: black;
    border-color: white;
}


.myRegister input{
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}


 .bouttons a {
    color: white;
    text-decoration: none;
}

.bouttons 
{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bouttons button{
    margin-left: 20px;
    background-color: black;
    color: white;
    border : none;
    height: 30px;
    border-radius: 20px;
    width: 150px;
    margin: 30px;
}

@media (max-width: 768px) {
    .myRegister{
    width: 300px; 
  }

  .myRegister input{
    width: 240px;
  }
  .bouttons{
    width: 350px;
  }
}

