* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gg {
    display: flex;
    background-color: #8e8a8a92;
    padding-top: 2rem;
    min-height: 78vh;
    max-height: 1500vh;
    padding-bottom: 5rem;
}

.gauche {
    width: 20%;
    border-right: 0.5px solid black;
}

.recherche {
    width: 100%;
    display: flex;
    margin-left: 0.03rem;
}

.recherche input {
    width: 79%;
    padding: 0.3rem;
    height: 32px;
}

.recherche button {
    width: 40px;
    padding: 0.5rem;
    margin-top: 0;
}

.dropdown-row {
    margin-left: 0.8rem;
    background-color: #0000004e;
    width: 90%;
    margin-bottom: 0.1rem;
    padding: 0.2rem;
}

.container {
    padding: 1rem;
    width: 80%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}